#
# javascript
node_modules
bin
build
/.next/
static/*.js
static/*.map
static/*.txt
static/blog
static/lab
static/pages
static/docs
compiled.*

# directories
coverage
dist
.tmp
content/phd

#
# files
.DS_Store
*.log
*.zip

# latex
*.log
*.dvi
*.fls
*.gz
*.aux
*.fdb_latexmk
__latexindent_temp.tex
next-env.d.ts

#env
.env

#python
.python-version
__pycache__
*.pyc
*.pyo
