@import url("observablehq:default.css");
@import url("observablehq:theme-near-midnight.css");


main > h2 {
  border-top: 1px solid var(--theme-foreground-fainter);
  padding-top: 20px;
  color: #bdac5a;
}

h2.blog-list {
  font-size: 20px;
  color: #bdac5a;
}

p.date {
  font-style: italic;
  color: var(--theme-foreground-faint)
}

p.description {
  font-style: italic;
  font-size: 1.2em;
  color: var(--theme-foreground-muted);
}

img.luca {
  width: 60%;
}

a.no-deco {
  text-decoration: none !important;
}

a.text-white {
  color: #fff !important;
}


a.icon {
  display: inline-block;
  margin: 0 5px;
  color: var(--color-text);
  transition: all 0.3s ease;
}
